<div id="content-wrapper" class="container-fluid d-flex p-2 justify-content-center justify-content-around p-5">
    <div id="signup">
        <h1>Sign Up</h1>
        <form id="signup-form">
            <div class="form-group">
                <label for="username-signup-input">Username</label>
                <input type="text" class="form-control" id="username-signup-input" placeholder="jimmyjam">
            </div>
            <div class="form-group">
                <label for="password-signup-input">Password</label>
                <input type="password" class="form-control" id="password-signup-input" placeholder="Password123!">
            </div>

            <div class="form-group">
                <button id="signup-submit-button" class="btn btn-primary" type="submit">Sign Up</button>
            </div>
            <script src="/js/login.js"></script>
        </form>
    </div>
</div>